*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(5, 14, 30);
    color: white;
    font-family: "Poppins" , sans-serif;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 6.2rem;
}
nav{
    display: flex;
    justify-content: space-around; /*horizontal*/
    align-items: center;
    top: 0;
    height: 85px;
    width: 100%;
    background-color:  rgba(3, 63, 78, 0.498);
    position: fixed;
}
nav ul{
    display: flex;
    justify-content: center ;
}
nav ul li{
    list-style: none;
    margin: 10px;
    
}

nav ul li a{
    text-decoration: none;
    color: white;
    transition: all .4s ease 0s;
    
}

nav ul li a:hover{
    /* text-decoration: none; */
    color: rgb(178, 178, 255);
    text-decoration: underline;
    
}
.left {
    font-size: 1.5rem;
    transition: all .3s ease 0s;
}
.left a{
    text-decoration: none;
    color: white;
}

.left:hover{
    transform: scale(1.1);
}

.firstsection{
    display: flex;
    justify-content: space-around;
    margin: 80px 0px; 
    align-items: center;
    margin-top: 170px;
}

.firstsection > div{
    width: 35%;
}

.leftsection{
    font-size: 2.5rem;
    transition: all .3s ease 0s;
}

/* .leftsection:hover{
    color: rgb(189, 220, 134);
} */

.rightsection img{
    width: 81%;
}

.purple{
    font-weight: 800;
    color: rgb(156, 86, 221);
    transition: all .3s ease 0s;
}

#element{
    color: blueviolet;
}
.secondsection{
    max-width: 80vw;
    margin: auto;
    /* background-color: red; */
}

.hr1{
    border: 0;
    background-color: blueviolet;
    height: 3px;
    margin: 10px 80px;
}

.secondsection h1{
    font-size: 2rem;
}
.mecontainer{
    display: flex;
    justify-content: space-around;
    margin: 20px 30px; 
    align-items: center;
}

.leftme{
    height: 50%;
    width: 50%;
}
.leftme img{
    transition: all .3s ease 0s;
    color: rebeccapurple;
    border-radius: 50px;
    width: 80%;
    height: 80%;
}
.rightme {
    height: 50%;
    width: 50%;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
}

.thirdsection > h1{
    font-size: 2.2rem;
    text-align: center;
}

.projectlist{
    margin: 20px 80px;
}

.project{
    display: flex;
    margin: 30px 0px;
    background-color: rgb(121, 121, 184);
    border-radius: 20px;
    transition: all .3s ease 0s;
}
.project:hover{
    transform: scale(.95);
    box-shadow: 6px 6px 5px whitesmoke ;
}
.project > img{
    height: 50%;
    width: 50%;
    margin: 10px 10px;
    border-radius: 5px;
}
.projecttext{
    margin:20px 20px;
}
.projecttext h5{
    margin:10px 2px;
    font-size: 1.2rem;
    color: black;
    text-shadow: white 2px 2px 5px;
}
.projectlinks{
    background-color: white;
    text-decoration: none;
    border-radius: 10px;
    padding: 0px 20px;
    color: rgb(0, 0, 0);
    box-shadow: black 2px 2px 2px ;
    transition: all .3s ease 0s;
}
.projectlinks:hover{
    background-color: rgb(0, 0, 0);
    text-decoration: underline;
    color: rgb(255, 255, 255);
    box-shadow: black 2px 2px 2px ;
}

.skillsection h1{
    font-size: 2.2rem;
    text-align: center;
}
.skillsection{
    font-size: 2rem;
    margin: 0px 80px;
}
.skill-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.skillcard{
    width: 30%;
    margin: 30px 0px;
    background-color:  blueviolet;
    padding: 5px;
    border-radius: 20px;
    text-align: center;
    box-shadow: rgb(223, 179, 245) 5px 5px 8px;
    transition: all .3s ease 0s;
}
.skillcard:hover{
    box-shadow: rgb(223, 179, 245) 10px 10px 10px;
}
.fourthsection > h1{
    font-size: 2rem;
    margin-left: 80px;
}

.formcontainer{
    width: 100%;
    height: 60vh;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 50px 0px 80px 0px;
}
.formcontainer > img{
    height: 100%;
    width: 35%;
}
.form1{
    background-color: rgba(128, 128, 128, 0.278);
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 60vh; 
   padding: 10px;
   border-radius: 20px;
   transition: .3s all ease 0s;

}
.form1:hover{
    background-color:  rgb(0, 0, 0);
}
.inputarea{
    padding: 2%;
    margin: 10px;
    border-radius: 10px;
    border: none;
    font-family: "poppins";
    background-color: aliceblue;
}

.message{
    padding: 2%;
    margin: 10px;
    height: 1000px;
    border-radius: 10px;
    font-family: "poppins";
    background-color: aliceblue;
    color: gray;
}
.form1 > button{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    color: wheat;
    font-family: "poppins";
    background-color:  blueviolet;
    transition: all .3s ease 0s;
}
.form1 > button:hover{
    background-color: rgb(255, 0, 0);
    transform: scale(.9);
}
.footer{
    background-color: #220429;
    display: flex;
    align-items: center;
}
.leftfooter{
    margin: 5px 85px;
}
.rightfooter{
    margin: 20px 20px 20px 100px;
}
.headingfoot{
    font-size: 1.7rem;
    color: #fca311;
    font-weight: 600;
}
.fa-solid{
    color: #fca311;
    margin: 10px 15px;
    font-size: 1.1rem;
}
.itext{
    font-size: .9rem;
}
.fa-brands{
    font-size: 2rem;
    color: #fca311;
    margin: 15px 15px;
    text-decoration: none;
    transition: all .3s ease 0s;
}
.fa-brands:hover{
    transform: scale(1.1);
    color: white;
}
@media screen and (max-width: 1080px) {
  /* body{
    background-color: blue;
  } */
    .formcontainer{
        width: 100%;
        height: 30%;
        margin: 10px 0px 10px 0px;
    }
    .message{
        height: 80px;
    }
    .formcontainer > img{
        height: 30%;
        width: 40%;
    }
    .form1{
        height: 40vh;
    } 
}

@media screen and (max-width: 940px) {
    /* body{
        background-color: red; 
    } */
    .leftfooter{
        margin: 5px 10px;
    }
    .footer{
        align-items: center;
    }
    .rightfooter{
        margin: 0px 0px;
    }
    .project{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 30px 0px;
    }

}




@media screen and (max-width: 660px) {
    
    .firstsection{
        flex-direction: column;
        margin: 10px 0px; 
        margin-top: 100px;
    }
    .firstsection > div{
        width: 55%;
    }
    .leftsection{
        font-size: 1.7rem;
        justify-content: center;
    }
    .fa-brands{
        font-size: 1.7rem;
        margin: 15px 15px;
    }
    .footer{
        font-size: .6rem ;
    }
    .headingfoot{
        font-size: 1rem;
    }
    .fa-solid{
        font-size: 1rem;
    }
    .itext{
        font-size: .6rem;
    }
    .rightme{
        font-size: .6rem;
    }
    .skillsection{
        font-size: 1rem;
    }
}
@media screen and (max-width: 520px) {
    /* body{background-color: yellow;} */

    nav{
        flex-direction: column;
        font-size: 1.1rem;
    }
    .leftsection{
        font-size: 1.5rem;
        justify-content: center;
    }
    .rightme{
        font-size: .6rem;
    }
    .projecttext{
        font-size: .5rem;
    }
    .projectlist{
        margin: 20px 30px;
    }
    .fa-brands{
        font-size: 1rem;
        margin: 15px 15px;
    }
    .fa-solid{
        font-size: .6rem;
    }
    .message{
        height: 20px;
        font-size: .4rem;
    }
    .formcontainer > img{
        height: 30%;
        width: 40%;
    }
    .form1{
        height: 22vh;
        font-size: .4rem;
    } 
    .inputarea{
        font-size: .4rem;
    }
    .form1 > button{
        padding: 0px;
        font-size: .8rem;
    }
    .skillsection{
        font-size: .8rem;
        margin: 0px 60px;
    }
    
}

@media screen and (max-width: 430px) {
    /* body{background-color: green;} */
    nav{
        font-size: .5rem;
    }
    .hr1{
        margin: 10px 40px;
    }
    .fa-brands{
        font-size: 1rem;
        margin: 5px 5px;
    }
    .footer{
        font-size: .4rem ;
    }
    .headingfoot{
        font-size: .7rem;
    }
    .projectlist{
        margin: 20px 30px;
    }
    .itext{
        font-size: .4rem;
    }
    .fa-solid{
        font-size: .5rem;
    }
    .skillsection{
        font-size: .6rem;
        margin: 0px 50px;
    }
}
